form {
	border: 1px solid #545454;
	border-radius: 3px;
	padding: 40px;
	span {
		font-weight: bold;
	}

	button {
		width: 20%;
		padding: 8px;
		border-radius: 5px;
		background-color: rgba(255, 166, 0, 0.815);
		color: white;
		border: none;
		font-weight: bold;
		&:hover {
			background-color: orangered;
		}
	}
}

input {
	padding: 5px 20px;
	width: 100%;
	line-height: 16px;
	margin: 10px 0 20px 0;
	box-sizing: border-box;
}
#example {
	padding-top: 10px;
	font-size: 14px;
	font-weight: normal;
}
